.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
}

.login-btn {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border: none;
  background: lightseagreen;
  color: white;
  text-decoration: none;

}
