$paragraph-color: #565656;
$heading-color: #000000;
$button-bg-color: #2639ED;

// ...

// _styles.scss
p {
  color: $paragraph-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

.button {
  background-color: $button-bg-color;
  color: white;
}

.page-container{
  margin: 0 3rem;
}