@import "../../../common/styles/mixins";

.hero-section-container{
  display: flex;
  justify-content: space-between;
}

.hero-section-content{
  @include common-content-style(3.6rem, 1.2rem);

}

.hero-section-button{
  @include button-style;
}



.hero-section-img{
  display: flex;
  justify-content: flex-start;
}